/* Navigation bar styles */

.titlebar {
    width: 100%;
    padding: 0.5rem 1rem;
}

.nav-list {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/* Navigation item styles */

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

/* Navigation item state styles */

.nav-item:hover {
    font-weight: bold;
}

.nav-item.active a {
    font-weight: bold;
    color: var(--primary-color);
}

@media (min-width: 1024px) {
    .nav-list {
        justify-content: end;
        padding-right: 40px;
        gap: 4rem;
    }
}