/* Main app styles */

.App {
  height: 100dvh;
  width: 100dvw;
  background-color: #F07B1C40;
  position: relative;
  overflow: hidden;
}

.App::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/marble.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  pointer-events: none;
}

/* Page indicator styles */

.page-indicator {
  opacity: 0; /* Hide by default - show only on desktop */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  padding-right: 1%;
  gap: 5%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.indicator {
  width: 7px;
  height: 60px;
  margin: 0 5px;
  border-radius: 15px;
  background-color: black;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: var(--primary-color);
}

/* Header and body styles */

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 7dvh;
  z-index: 2;
}

.App-body {
  height: 93dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
  z-index: 2;
}

/* Page styles */

.App-body > * {
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
}

.white-circle-body {
  background-color: #FFFFFF;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Styles for different sections */
.white-circle-body.home {
  opacity: 0;
}

.white-circle-body.menu {
  top: 40%;
  left: 50%;
  width: 80dvh;
  height: 60dvh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translate(-50%);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}

.white-circle-body.location {
  left: 50%;
  width: 80dvh;
  height: 50dvh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translate(-50%);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}

.white-circle-body.contact {
  left: 50%;
  top: 10dvh;
  transform: translate(-50%);
  width: 80dvh;
  height: 80dvh;
  border-radius: 50%;
  clip-path: inset(0 0 0 0);
  opacity: 1;
}

/* MEDIA STYLES */

/* Desktop */
@media (min-width: 1024px) {

  .page-indicator {
    opacity: 1;
  }

  .white-circle-body.menu {
    top: -10%;
    left: 10%;
    height: 120dvh;
    width: 120dvh;
    border-bottom-right-radius: 50%;
  }

  .white-circle-body.location {
    top: -10%;
    left: 85%;
    height: 120dvh;
    width: 120dvh;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 0;
  }

  
  .white-circle-body.contact {
    top: -10dvh;
    width: 120dvh;
    height: 120dvh;
    clip-path: inset(0 0 0 0);
  }
}