/* Main app styles */

.App {
  height: 100dvh;
  width: 100dvw;
  background-color: #F07B1C40;
  position: relative;
}

.App::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/marble.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  pointer-events: none;
}

/* Header and body styles */

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 7dvh;
  z-index: 2;
}

.App-body {
  height: 93dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
  z-index: 2;
}

/* Page styles */

.App-body > * {
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
}

.white-circle-body {
  background-color: white;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Styles for different sections */
.white-circle-body.home {
  opacity: 0;
}

.white-circle-body.menu {
  top: 40%;
  left: 50%;
  width: 60dvh;
  height: 60dvh;
  border-radius: 50%;
  transform: translate(-50%);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}

.white-circle-body.location {
  background-color: lightcoral;
  opacity: 1;
}

.white-circle-body.contact {
  background-color: lightgoldenrodyellow;
  opacity: 1;
}

/* Temporary test styles */

.App-header, .App-body {
  border: 1px solid red;
}

@media (min-width: 1024px) {

  .white-circle-body.menu {
    top: -10%;
    left: 10%;
    height: 120dvh;
    width: 120dvh;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
}