/* Global Variables */

:root {
  /* Fonts */
  --font-family: 'Gothic A1', sans-serif;

  /* Colors */
  --primary-color: #F07B1C;
  
}

/* Global Styles */

* {
  font-family: var(--font-family);
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  background-color: var(--primary-color);
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  /* Remove default styling */
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--primary-color);
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  color: var(--primary-color);
}

p {
  font-size: 13px;
}